<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Welcome to <%=appData.appName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <%- include('headerMenu') %>
        <main class="content">
            <div class="main">
                <h1>Portfolio: <%= portfolio_name %>  </h1>
                <% if (funds.length > 0 ) { %>
                <ul class="item-list">
                    <% funds.forEach(function(fund) { %>
                    <li class="item">
                        <div class="item-row">
                            <div class="item-icon">
                                <i class="material-icons">insights</i>
                            </div>
                            <div class="item-content">
                                <span class="item-name"><%= fund.name %> (<%=fund.ticker%>)</span>
                                <span class="item-value">Cost: £<%=fund.total_cost%></span>
                                <span class="item-value">Shares: <%=fund.total_shares%></span>
                                <span class="item-value">Current Value: £<%=fund.current_value%></span>
                            </div>
                            <div class="item-actions">
                                <form action="/transactions/add" method="POST">
                                    <input type="hidden" name="portfolio_id" value="<%=portfolio_id%>"> 
                                    <input type="hidden" name="fund_id" value="<%=fund.fund_id%>"> 
                                    <input type="hidden" name="fund_name" value="<%= fund.name %> (<%=fund.ticker%>)">
                                    <input type="hidden" name="_csrf" value="<%= crsfToken %>">
                                    <button type="submit" class="add-btn">Buy/Sell</button>
                                </form>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
                <% } else { %>
                    <p>Looks like you don't have any funds with shares in this portfolio<p>
                    <p>Click the plus at the bottom to find a fund,</p>
                    <p>select one and add a transaction to make it appear here.</p>
                <% } %>
                <a href="search-result" class="fab" id="fab-add">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </main>
        <%- include('footerMenu') %>
      </body>
</html>