<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Welcome to <%=appData.appName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <%- include('headerMenu') %>
        <main class="content">
            <h1>Welcome to <%=appData.appName%></h1>
            <% if (loggedInStatus === 'not logged in') { %>
                <p>Food Manager<p>
                <% } else { %>
                    <p>Welcome back <%= loggedInStatus %>, it's good to see you again.</p>
                    <p>Check out all the menu options on the left.</p>
                    <p>Remember after 60 minutes of inactivity you will need to log in again</p>
            <% } %>
        </main>
        <%- include('footerMenu') %>
    </body>
</html>