<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Welcome to <%=appData.appName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
        <!-- add google authentication script -->
        <script src="https://accounts.google.com/gsi/client" async defer></script>
    </head>
    <body>
        <%- include('headerMenu') %>
        <main class="content">
            <div class="form-container">
                <h1>Login to <%=appData.appName%></h1>
                <div id="g_id_onload"
                    data-client_id="<%= process.env.GOOGLE_CLIENT_ID %>"
                    data-login_uri="/users/oauth-callback"
                    data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                    data-type="standard"
                    data-size="large"
                    data-theme="outline"
                    data-text="sign_in_with"
                    data-shape="rectangular"
                    data-logo_alignment="left">
                </div>
            </div>
        </main>
        <p><%=userInstruction%></p>
        <%- include('footerMenu') %>
    </body>
</html>