<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined">
        <title>Welcome to <%=appData.appName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <%- include('headerMenu') %>
        <main class="content">
            <div class="main">
                <h1>Price API Update Information</h1>
                <ul class="item-list">
                    <% updateResults.forEach(function(result) { %>
                        <li class="item">
                            <% if (result.error) { %>
                            <div class="item-row">
                                <div class="item-icon">
                                    <span class="material-symbols-outlined">error</span>
                                </div>
                                <div class="item-content">
                                    <% if (result.fund_id > '') { %>
                                    <span class="item-name">Failed to update Fund id: <%= result.fund_id %>, Ticker: <%= result.ticker %>, Error: <%= result.error %></span>
                                    <% } else { %>
                                    <span class="item-name"><%= result.error %></span>
                                    <% } %>
                                  </div>
                            </div>
                            <% } else { %> 
                                <div class="item-row">
                                    <div class="item-icon">
                                        <span class="material-symbols-outlined">info</span>
                                    </div>
                                    <div class="item-content">
                                        <% if (result.sqlInserts.length > 0) { %>
                                        <span class="item-name">Updated Fund id: <%= result.fund_id %>, Ticker: <%= result.ticker %>, Records Inserted: <% result.sqlInserts.length %></span>
                                        <% } else { %>
                                        <span class="item-name">Fund id: <%= result.fund_id %>, Ticker: <%= result.ticker %>, API checked but no new price records to update</span>
                                        <% } %>
                                    </div>
                                </div>    
                            <% } %>
                        </li>
                    <% }) %>
                </ul>     
            </div>
        </main>
        <%- include('footerMenu') %>
    </body>
</html>
