<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Recipes</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<%- include('headerMenu') %>

<div class="content">
  <div class="form-container">
    <h1>Search Recipes</h1>
    <form method="POST">
      <input type="hidden" name="_csrf" value="<%= crsfToken %>">
      <input type="text" name="query" value="<%= query %>" placeholder="Search by title, ingredient or keyword" style="width: 70%">
      <button type="submit" class="submit-button">Search</button>
    </form>

    <% if (results.length > 0) { %>
      <h2>Results:</h2>
      <table class="table-striped" style="width: 100%; border-collapse: collapse;">
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach(recipe => { %>
            <tr>
              <td>
                <% if (recipe.thumbnail) { %>
                  <img src="<%= recipe.thumbnail %>" alt="thumb" style="height: 50px;">
                <% } %>
              </td>
              <td><strong><%= recipe.title %></strong></td>
              <td><a href="/recipes/edit/<%= recipe.id %>" class="submit-button">Edit</a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else if (query) { %>
      <p>No results found for "<strong><%= query %></strong>"</p>
    <% } %>
  </div>
</div>


<%- include('footerMenu') %>
</body>
</html>
