<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Welcome to <%=appData.appName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <%- include('headerMenu') %>
        <main class="content">
            <div class="main">
                <h1>My Transactions</h1>
                <% if (availableTransactions.length > 0 ) { %>
                <ul class="item-list">
                    <% availableTransactions.forEach(function(transaction) { %>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-icon">
                                    <i class="material-icons">swap_horiz</i>
                                </div>
                                <div class="item-content">
                                    <span class="item-name">(#<%=transaction.id%>) <%= transaction.portfolio_name %><br><%= transaction.fund_name %></span>
                                    <span class="item-value">Date: <%= new Date(transaction.transaction_date).toISOString().split('T')[0] %></span>
                                    <span class="item-value">Amount: <%= new Intl.NumberFormat('en-GB', { minimumFractionDigits: 0 }).format(transaction.volume)%></span>
                                    <span class="item-value">Share Price: <%= new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP' }).format(transaction.share_price)%></span>
                                  </div>
                                <div class="item-actions">
                                     <form action="/transactions/remove" method="POST">
                                        <input type="hidden" name="transaction_id" value="<%=transaction.id%>"> 
                                        <input type="hidden" name="_csrf" value="<%= crsfToken %>">
                                        <button type="submit" class="delete-btn"><i class="material-icons">delete</i></button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                </ul> 
                <% } else { %>
                    <p>Looks like you don't have any transactions<p>
                    <p>you can add transactions from the find funds page,</p>
                    <p>or you can click buy/sell from the fund in one of your portfolios</p>
                <% } %>    
            </div>
        </main>
        <%- include('footerMenu') %>
    </body>
</html>
